
#speadOne , #speadTwo {
    animation: move 4s infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#man {
    animation: man 2s infinite alternate;
}



@keyframes move {

    form {  
        transform: translate3d(-200%, 0, 0);
    }

    to {
        transform: translate3d(200%, 0, 0);
    }
}

@keyframes man {
    form {
      transform: rotateX(0)
    }

    to {
        transform: rotateX(20deg)
    }
}



