

#right-wheel,
#left-wheel {

    animation: wheel 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#head {
    animation: bike 1s infinite ease-in-out alternate;
}

#hand {
    animation: handing 1s infinite ease-in-out alternate;
}

@keyframes wheel {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bike {
    from {
        transform: rotateX(0) rotateZ(0);
    }

    to {
        transform: rotateX(15deg) rotateZ(1deg);
    }
}

@keyframes handing {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(5deg);
    }
}




 .anim-photo {
    width: 50%;
    height: 550px;
    padding: 5em 3em;
    text-align: center;
}

.anim-text{
    text-align: center!important;
    width: 50%;
    height: 550px;
    padding: 8em 12em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.anim-text h3 {
    padding-bottom: 20px!important;
}

@media screen and (max-width:1096px) {
    .row {
        flex-direction: column;
    }
    .anim-photo , .anim-text {
        width: 100%;
        padding: 2em;
        height: auto;
    }
    svg {
        width: 70%;
    }
}
