.footer-newslater-button-container:hover,
.footer-split ul li:hover {
    opacity: .8
}

.footer {
    padding: 1rem;
    background-color: #333;
    bottom: 0
}

.under-footer {
    padding: 2rem;
    background-color: #222;
    bottom: 0
}

.footer-text {
    text-align: right;
    color: #999
}

.e-namad-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    margin-top: 22px
}

.footer-text p {
    font-size: 12px;
    padding: 10px 0
}

.footer .container {
    display: -webkit-box;
    display: flex;
    padding: 50px
}

.footer-split {
    width: 50%;
    margin: 0 5px;
    text-align: center
}

.footer-split h1 {
    color: #7F7F7F;
    padding: 30px
}

.enamad {
    width: 195px;
    height: 202px;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #131313;
    margin: 0 5px;

}

.d-f {
    display: flex;
    flex-direction: row;
    
}

.footer-menu {
    display: -webkit-box;
    display: flex;
    color: #fff;
    margin: auto;
    -webkit-box-pack: center;
    justify-content: center
}

.footer-menu ul {
    text-align: center;
    margin: 0 40px
}

.footer-split ul li {
    list-style-type: none;
    text-align: right;
    padding: .5rem 0;
    cursor: pointer;
    font-weight: 900;
    font-size: 12px;
    color: #999
}

.footer-split ul li i {
    padding-left: 10px
}

.footer-newslater {
    margin: auto
}

.newslater-container {
    height: 55px;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: -webkit-box;
    display: flex
}

.footer-social-network {
    display: -webkit-box;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 30px 0
}

.footer-social-network>div {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 10px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.footer-social-network>div:hover {
    opacity: .8;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.footer-social {
    width: 35px;
    height: 36px;
    margin: 0 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer
}
.senf-iran { 
    background-image: url('../../assets/images/senf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;


}

.footer-newslater-input-container {
    width: 300px;
    height: 50px;
    background-color: #333;
    border-radius: 50px 0 0 50px;
    border: 1px solid #5F5F5F;
    padding-left: 20px;
    color: #fff
}

.footer-newslater-button-container {
    background-color: #0090CF;
    width: 100px;
    height: 50px;
    border-radius: 0 50px 50px 0;
    border: 1px solid #0090CF;
    -webkit-transition: ease .5s;
    transition: ease .5s;
    line-height: 50px;
    font-size: 16px;
    font-weight: 900
}

.footer-newslater-button-container p {
    color: #fff;
    cursor: pointer;
    text-align: center
}

.F-SN {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

@media screen and (max-width:800px) {
    .footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse
    }

    .footer-menu,
    .footer-split {
        width: 100%
    }

    .footer-menu ul {
        margin: 10px;
        width: 100%
    }

    .footer-split ul li {
        text-align: center
    }
}

@media screen and (max-width:400px) {
    .footer-newslater-button-container p {
        font-size: 12px
    }

    .footer .container {
        padding: 10px
    }
}