.button-style{background-color:#0080FF;color:#fff;width:150px;border-radius:5px;height:40px;cursor:pointer;-webkit-transition:all .2s linear;transition:all .2s linear}
.lds-ellipsis,.loader-button{width:20px;height:20px;text-align:center}
.button-style:hover{-webkit-transition:all .2s linear;transition:all .2s linear;opacity:.8}
.loader-button{border:3px solid #f3f3f3;border-top:3px solid transparent;border-radius:50%;-webkit-animation:spin 1s linear infinite;animation:spin 1s linear infinite;display:-webkit-inline-box;display:inline-flex}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.lds-ellipsis{position:relative;vertical-align:middle}
.lds-ellipsis div{position:absolute;width:11px;height:11px;border-radius:50%;background:#fff;-webkit-animation-timing-function:cubic-bezier(0,1,1,0);animation-timing-function:cubic-bezier(0,1,1,0);vertical-align:middle;text-align:center}
.lds-ellipsis div:nth-child(1){left:6px;-webkit-animation:lds-ellipsis1 .6s infinite;animation:lds-ellipsis1 .6s infinite}
.lds-ellipsis div:nth-child(2){left:6px;-webkit-animation:lds-ellipsis2 .6s infinite;animation:lds-ellipsis2 .6s infinite}
.lds-ellipsis div:nth-child(3){left:26px;-webkit-animation:lds-ellipsis2 .6s infinite;animation:lds-ellipsis2 .6s infinite}
.lds-ellipsis div:nth-child(4){left:45px;-webkit-animation:lds-ellipsis3 .6s infinite;animation:lds-ellipsis3 .6s infinite}
@-webkit-keyframes lds-ellipsis1{0%{-webkit-transform:scale(0);transform:scale(0)}
100%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes lds-ellipsis1{0%{-webkit-transform:scale(0);transform:scale(0)}
100%{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes lds-ellipsis3{0%{-webkit-transform:scale(1);transform:scale(1)}
100%{-webkit-transform:scale(0);transform:scale(0)}
}
@keyframes lds-ellipsis3{0%{-webkit-transform:scale(1);transform:scale(1)}
100%{-webkit-transform:scale(0);transform:scale(0)}
}
@-webkit-keyframes lds-ellipsis2{0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(19px,0);transform:translate(19px,0)}
}
@keyframes lds-ellipsis2{0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
100%{-webkit-transform:translate(19px,0);transform:translate(19px,0)}
}