.DD-title{text-align:right}
.DD-title .container-fluid{background-color:#F1F1F1}
.DD-title .container{margin:auto;padding:130px 80px 50px}
.DD-logos .container-fluid{background-color:#fff;border-bottom:3px solid #e7e7e7}
.DD-logos .container{margin:auto;padding:50px;display:-webkit-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;-webkit-box-align:center;align-items:center}
.DD-logos .container img{width:60%;margin-bottom:40px}
.DD-comment-box .container{padding:70px 0}
.DD-up{display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-align:center;align-items:center}
.DD-down{margin-top:40px}
@media screen and (max-width:700px){.DD-title .container{padding:50px}
.DD-logos .container img{width:100%}
}
@media screen and (max-width:600px){.DD-up,.designerLogoTitle{-webkit-box-orient:vertical}
.designerLogoTitle{-webkit-box-direction:reverse;flex-direction:column-reverse}
.DLT-right{margin-bottom:30px}
.DD-up{-webkit-box-direction:normal;flex-direction:column}
}
@media screen and (max-width:500px){.DLT-right-title h2{font-size:12px}
.DLT-right-title h1{font-size:16px}
.DLT-left,.DLT-left .button-box,.DLT-left .button-style{width:100%}
.DLT-icon-box{margin-top:20px}
}